:root {
  --background-color: #000028;
  --title-text-color: #DB00FF;
  --title-shadow-color: #FF0070;
  --section-title-color: #FF0070;
  --title-decor-color: #FF0070;
  --botumn-color: #FF0070;
  --title-paragraph-color: #000028;
  --card-paragraph-color: #f1b2ce;
  --header-img: url(../images/cover-image-dark.png);
  --hover-color: #FF007066;
  --visible-element: block;
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}